{% extends "base.html" %}

{% block page_name %}Posts{% endblock %}

{% block content %}
      {% for post in posts %}
       <article class="post">
         <header>
           <h2>{{post.title|escape}}</h2>
           <p>Posted by {{post.author|escape}} on
             <time datetime="{{post.posted_on}}">{{post.posted_on_friendly}}</time>
           </p>
         </header>
         {% ifnotequal post.ancillary_content None %}
         <aside>
          <p>
            {{post.ancillary_content|escape}}
          </p>
         </aside>
         {% endifnotequal %}
         <p>
          {{post.content|escape}}
         </p>
         <footer>
          <p><a href="comments"><i>25 Comments</i></a></p>
         </footer>
       </article>
      {% endfor %}
{% endblock %}